#Convert documentation to HTML (API Landing)
markdown==2.6.11
#API Microframework
flask==1.0.2
#Flask extension for MYSQL Support
flask-mysql==1.4.0
#Evaluation...
requests==2.18.1
bson
Flask-Login
Flask-RESTful
flask_cors
cryptography
gunicorn
bcrypt==3.1.6
flask-jwt-extended
#transbank-sdk
python-tbk

#para xmlsec
#sudo apt-get install libssl-dev libxml2-dev libxmlsec1-dev 